
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
     background: url('./assets/mpose.jpg') center center fixed;
            background-size: cover;
}

header{
    background:#0a192f;
    text-align:center;
    padding:20px;
}

nav{
    background:#112240;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:50px;
    background:linear-gradient(135deg,#007bff,#00c6ff);
    color:white;
}

.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

h2{
    margin-bottom:15px;
    color:#0a192f;
}

input, select, textarea{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#007bff;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

ul{
    padding-left:20px;
}

footer{
    text-align:center;
    background:#0a192f;
    color:white;
    padding:15px;
    margin-top:20px;
}

message{
    margin-top:10px;
    color:green;
    font-weight:bold;
}
